/*
  Name: Aiesha Asim
  File: style.css
  Date: October 2025
  INFT1206 A3, Part 3 Fundamental layout comprehension
*/

* { box-sizing: border-box; }

body {
  margin: 0;
  background: #fff;
  color: #333;
  font: 1.2em/1.6 sans-serif;
}

img {
  display: block;
  max-width: 100%;
  border: 1px solid #000;
}
